@import url('http://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url(http://fonts.googleapis.com/css?family=Nothing+You+Could+Do');

body {
    padding-top: 20px;
}

h1, h2, h3, h4, h5, h6, p, ol, ul {
    font-family: 'Lato';
}

h6 {
    font-weight: 300;
}

p, li {
    font-size: 1.3em;
    line-height: 1.5em;
}

#header {
    margin-top: 2em;
    margin-bottom: 2em;
    background-image: url('../img/back3.jpg');
    background-attachment: fixed;
    padding: 1em;
}

#site-headline {
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.6em;
}

#siteline {
    font-size: 2em;
    font-weight: 400;
    text-align: center;
    font-family:'Nothing You Could Do';
}

.navbar-inner {
    background: none;
    filter: none;
    border: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    background-color: #FFFFFF;
}

.navbar .nav > li > a {
    font-family: 'Lato';
    font-weight: '300';
    letter-spacing: 0.4em;
    font-size: 0.8em;
    color: #333;
    text-shadow: none;
}

.navbar .nav > li > a:hover {
    color: #fd482f;
}

.navbar .nav .active > a {
    color: #333;
    background: none;
}

.navbar .nav .active > a:hover {
    background:none;
    background-color: #ffffff;
    box-shadow: none;
}

.navbar .nav .active {
    border-radius: none !important;
    box-shadox: none !important;
    border: 0 !important;
    webkit-box-shadow: none !imporant;
}

.navbar .nav {
    width: 100%;
    text-align: center;
}

.navbar .nav > li {
      float: none;
      display: inline-block;
  }

.header {
    margin: 3.5em;
}

 i {
     margin: 20px;
 }


#features {
    margin-bottom: 2em;
    margin-left:1.5em;
    padding-top: 30px;
    padding-bottom: 30px;
}

#price {
    text-align: center;
    font-size: 3em;
    font-weight: 900;
    margin: 0.5em;
}

#portion {
    text-align: center;
    font-size: -0.5em;
    margin-bottom: 0.8em;
}

.image {
    position:relative;
}

.image img {
    width:100%;
    vertical-align:bottom;
}

.image:after {
    content:'\A';
    position:absolute;
    width:100%; height:20%;
    bottom:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:0;
    transition: all 1s;
    -webkit-transition: all 1s;
}

.image:after {
    content: attr(data-content);
    color:#fff;
    font-family: 'Lato';
    font-weight: 300;
    text-align: center;
    font-size: 1.1em;
    margin-top: 20px;
}

.image:hover:after {
    opacity:1;
}

#showmore {
    text-align: right;
    font-family: 'Nothing You Could Do';
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.chronique {
    margin-bottom: 3em;
}

.chronique h3 {
    margin: 0;
}

#vedette,
#chronique {
    font-family: 'Nothing You Could Do';
}

#chronique {
    margin: 0;
}

#chronique-img img {
    margin-top: 10px;
}

.chronique-info h6 {
    font-size: -0.5em;
}

hr {
	border-top: 2px dotted #999;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

#a-propos {
    background-image: url('../img/back4.jpg');
    margin:0;
    padding: 0;
}


.apropos {
    text-align:justify;
    font-weight: 300;
    padding-top: 4em;
    padding-bottom: 4em;
    margin:0;
}

#apropos {
    font-family: 'Nothing You Could Do';
    padding-top: 2em;
}

/******* FOOTER *******/

footer {
    background-color: #333;
    padding-top: 3em;
    padding-bottom: 3em;
    margin: 0;
}

footer p {
    color: #FFFFFF;
    text-align: center;
    font-weight: 300;
    font-size: 12px;
    margin-top: 2em;
}

footer h3 {
    color: #FFFFFF;
}

footer h6 {
    color: #FFFFFF;
}

footer a #footer-social {
    display: inline-block;
    margin: 0;
}

footer h3 {
    letter-spacing: 0.6em;
    margin-bottom: 1em;
    color: #FFF;
}

footer #footer-bold {
    font-weight: 400;
}

footer i {
    color: #FFF;
}

/******** SEARCH *********/

form .form-search button .btn {
    background: none;
    filter: none;
    border: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    background-color: #333;
}

/******** ARTICLE ********/

.firstthumb,
.secondthumb {
    height:424px;
}

.article-header h1 {
    letter-spacing: 0.3em;
    font-size: 3em;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.3em;
}

.article-header h1:hover {
    color: #fd482f;
    text-decoration: none;
    -moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    -webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    -o-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    -ms-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
}

.article-header h1, h4, h5 {
    text-align: center;
}

.article-header h4, h5 {
    font-family: 'Nothing You Could Do';
    padding-top: 0.5em;
}

.article-top-share {
    margin-right: 1em;
    margin-left: 3.5em;
    margin-top: 1.5em;
}

.article-top-share i, h6 {
    display: inline;
}

.article-top-share i {
    margin: 0.4em;
}

.fa fa-facebook {
    margin-left: 0.1em;
}

.article-top-share h6 {
    margin-right: 0.8em;
}

.article-price {
    height: 60px;
    width: 100px;
    border-style: solid;
    border-width: 1px;
    border-color: #333;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1em;
    background-color: #f4f4f4;
}

.article-price h4, h6 {
    font-family: 'Lato';
    padding-top: 0.7em;
    margin:0;
}

#header-desc {
    margin-top: 4em;
    margin-bottom: 2em;
    background-image: url('../img/back3.jpg');
    background-attachment: fixed;
    padding: 1em;
}

#recipe-desc {
    text-align: center;
    font-family: 'Nothing You Could Do';
    font-size: 2em;
    line-height: 1.5em;
    padding: 2em;
}

.article-text {
    margin-top: 5em;
    margin-bottom: 5em;
}

.article-text h1 {
    margin-top: 2em;
    letter-spacing: 0.2em;
}

.article-text h2 {
    color: #fd482f;
    letter-spacing: 0.2em;
}

.article-text h5 {
    font-family: 'Lato';
    font-weight: 300;
    display: block;
    text-align: left;
    padding: 0;
}

.recipe-info {
    margin-top: 2em;
}

.main-thumb img {
    width: 550px;
    position: relative;
    top: 20px;
}

#remarques {
    color: #787878;
}

.share-square h3 {
    font-family: 'Nothing You Could Do';
    text-align: center;
}

.share-square i {
    padding: 0.5em;
}

.share-square {
    margin-right: auto;
    margin-left: auto;
}

.article-text p {
    margin-top: 1em;
    font-weight: 300;
}

.article-text ol li {
    margin-bottom: 1em;
}


/******** LINKS *******/

a {
    color: #333;
    text-decoration:none;
}

a:link {
    color: #333;
    text-decoration: none;
}

a:active {
    color: #fd482f;
    text-decoration: none;
}

a:hover {
    color: #fd482f;
    text-decoration: none;
    -moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    -webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    -o-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    -ms-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
}

    